input{
    border: 0;
    outline: 0;
    text-align: center;
    color:  var(--color-d-gray);
    height: 100%;
    width: 100%;
    background: transparent;
    z-index: -1;
}
.score{
    --top:.75rem;
    --side:.6rem
}
.math-icon{
    position: absolute;
    z-index: 1;
    cursor: pointer;
    padding: .2em;
}
.minus{
   bottom: var(--top);
   left: var(--side);
}
.plus{
   
  top: var(--top);
  right: var(--side);
}
.comment{
    margin-block: .5rem;
    padding: .5rem;
    background: var(--color-white);
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(4,auto);
    border-radius: 10px;
}
.score{
   grid-row: 3/4;
   grid-column: 1/2;
  
}
.control--icons{
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.delete-icon-container,
.reply-icon-container{
    cursor: pointer;   
   justify-self: center;
   align-self: center;
   margin-left: auto;
   
}
.reply-icon-container{
    color: var(--color-m-blue);
}
.reply-icon-container:hover{
    color:var(--color-gray)
}
.delete-img,
.reply-to{
    margin-right: .4rem;
}
.delete{
    color: var(--color-s-red);
}
.delete:hover{
    color: var(--color-p-red);
}
.user-info{
    gap:1rem;
    grid-row: 1/2;
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}
.user-img{
    width: 2.5rem;
}
.user-name{
  color: var(--color-blue);
  font-weight: 700;
  
}
.time{
    font-weight: 500;
    color: var(--color-d-gray);

}
.user-comment{
    grid-row: 2/3;
    grid-column: 1/-1;
    margin-bottom: .5rem;
    font-weight: 400;
    color: var(--color-d-gray);
}


.input-group{
    position: relative;
    background: var(--color-l-gray);
    width:max(40%,2rem);
    height: max(2rem,70%);
    border-radius: 10px;
    margin-block: .5rem;   
}

.add-comment{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    padding: .5rem;
    background: var(--color-white);
    gap: .5rem;
}
.image{
    grid-row:2/-1 ;
    grid-column: 1/2;
    width: fit-content;
    
}
.textarea{
    grid-row:1/2 ;
    grid-column: 1/-1;
    outline: none;
    border: 1px solid var(--color-l-gray);
    color: var(--color-d-gray);
    font-weight: 500;
    padding: .4rem;
    min-height: 5rem;
    width:min(100%,25rem);
    align-self: stretch;

}
.reply-btn{
    grid-row: 2/-1;
    grid-column: 2/-1;
}
.btn{    
    cursor: pointer;
    outline: none;
    border: 0;
    background: var(--color-m-blue);
    font-weight: 500;
    font-size: 1.3em;
    color:var(--color-white);
    width: 5rem;
    height: 2rem;
    align-self: center;
    justify-self: flex-end;
    border-radius: 5px;

}
.btn:hover{
   background: var(--color-gray);
}
.name--tag{
    color: var(--color-m-blue);
    font-weight: 700;
    margin-right: .4rem;
  
}
.reply-container{    
    padding-left: 1rem;
    border-left: 1px solid var(--color-gray);
    
   }

@media (min-width:600px) {
    .reply-container{
     margin-left: 1.5rem;
     padding-left: 1.5rem;
    
     
    }
    .comment{
        
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(2,auto);
    }
    .score{
    grid-row: 1/-1;
    grid-column: 1/2;
    }
    .control--icons{
        grid-row: 1/2;
        grid-column: 3/-1;
    }
    .user-info{
        grid-row: 1/2;
        grid-column: 2/3;
        display: flex;
        align-items: center;
    }
    .user-comment{
        grid-row: 2/-1;
        grid-column: 2/-1;
    }
    
    .input-group{
        margin-right: 1rem;
        position: relative;
        background: var(--color-l-gray);
        width: 2rem;
    
        border-radius: 10px;
    
    }

    .score{
        --top:.5rem;
      
    }
    
    .minus{
        bottom: var(--top);
        left: var(--side);
    }
    .plus{
        
    top: var(--top);
    left: var(--side);
    }
    

    .add-comment{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}